// Body
$body-bg: #f8fafc;
$dropdown-link-active-bg: #B71C1C;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Pagination
$pagination-active-bg: #B71C1C;
$pagination-active-border-color: #fff;
$pagination-color: #000;
$pagination-hover-color: #fff;
$pagination-hover-bg: #B71C1C;
$pagination-focus-color:#000;
$pagination-focus-box-shadow: none;
