// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;

// Pagination
$pagination-active-bg: #6667AA;
$pagination-active-border-color: #fff;
$pagination-color: #000;
$pagination-hover-color: #fff;
$pagination-hover-bg: #6667AA;
