hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

.card-img-book{
    width: 100%;
    height: 20vw;
    object-fit: cover;
    object-position: top;
}

/* .select-btn{
    color:aquamarine;
    background-color: bisque;
    border: none; 
} */
#button-addnew{
    color: white;
    background-color: #6667AB;
    border: none;
}

#button-cross{
    color: #CC2936;
}

#button-cross:hover{
    color:black;
    transition: 0.5s;
}

#button-select{
    color: white;
    background-color: #6667AB;
    border: none;
}


@media screen and (max-width: 576px) {
    .sm-margin{
        padding-left: 50px;
        padding-right: 50px;
    }
    .card-img-book{
        height: 50vw;
    }
}



